{% extends 'base.html.twig' %}

{% block title %}AdExpress{% endblock %}

{% block body %}
    <div style="text-align: center; margin-top: 50px;">
        <h2>Give your advertisement!</h2>

        {% for category in categories %}
            <p>
                <a href="{{ path('category', { slug: category.slug }) }}">{{ category.name }}</a>
            </p>
        {% endfor %}
    </div>
{% endblock %}